pkgbase = linux
	pkgdesc = Linux-t3g
	pkgver = 6.11.3
	pkgrel = 1
	url = https://github.com/archlinux/linux
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.11.3.tar.xz
	source = config
    sha256sums = 057263d0afc17d5253794afd3d239ba4da4aa734b22fa36c1665f41b95449b73
    sha256sums = SKIP
    sha256sums = 6c4d63503c77465232fe4ed42671261b476bb0bfd1223b1a3da4afcc1cd615fb

pkgname = linux-t3g
	pkgdesc = The Linux-t3g kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-t3g-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel
	depends = pahole
    depends = linux-t3g
